#################
## Eclipse
#################
scenarios-eclipse-project/bin
scenarios-eclipse-project/.metadata
scenarios-eclipse-project/target
scenarios-eclipse-project/targetProjects
scenarios-eclipse-project/targetZips

# Locally stored "Eclipse launch configurations"
scenarios-eclipse-project/*.launch